In [4]:
import os
import pandas as pd
data_file = os.path.join('data','house_tiny.csv')

In [30]:
data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

# 处理缺失值
1. 插值法
2. 删除法

In [16]:
data.Alley.isnull()

0    False
1     True
2     True
3     True
Name: Alley, dtype: bool

In [31]:
data.NumRooms = data.NumRooms.fillna(value=data.NumRooms.mean())
print(data)

   NumRooms Alley   Price
0       3.0  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       3.0   NaN  140000

In [27]:
inputs, outputs = data.iloc[:,0:2], data.iloc[:,2]
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于离散值，就用数字代替

In [32]:
inputs = pd.get_dummies(inputs,dummy_na = True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0        True      False
1       2.0       False       True
2       4.0       False       True
3       3.0       False       True

# 转化为tensor

In [35]:
import torch
X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))